$sans-serif-font-stack: Raleway, Arial, Helvetica, sans-serif;

$white: #fff;
$cod-gray: #1e1e1e;
$mine-shaft: #3b3b3b;
$silver-chalice: #9d9d9d;
$gallery: #ededed;


body {
	font-family: $sans-serif-font-stack;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .125em;
	color: $gallery;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: $cod-gray;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
	width: 18px;
	height: 3px;
	background-color: $gallery;
	border-radius: 0;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.nav--menu {
	position: fixed;
	top: 0;
	z-index: 2000;
	width: 100%;
	height: 100vh;
	padding-top: 200px;
	text-align: center;
	background-color: $cod-gray;
	visibility: hidden;
	opacity: 0;
}

.nav--menu__link,
.nav--menu__link:link,
.nav--menu__link:hover,
.nav--menu__link:visited {
	color: $gallery;
}


.header {
	position: fixed;
	top: -100%;
	width: 100%;
	height: 80px;
	background-color: $white;
	z-index: 3000;
	transition: all 0.5s ease;
}

.nav__link,
.nav__link:link,
.nav__link:hover,
.nav__link:visited {
	color: $cod-gray;
}


.home {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 480px;
	background: url("http://www.jamesarc.com/work/wheelz/assets/img/home-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $cod-gray;
	z-index: 1000;
}


.home h2 {
	font-size: 48px;
	color: $gallery;
}

.home p {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.67;
	color: $gallery;	
}

.about {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
	color: $mine-shaft;
	background-color: $white;
	transition: all 0.5s ease;
}

.about__heading {	color: $cod-gray; }

.stats {
	width: 100%;
	padding-top: 90px;
	padding-bottom: calc(100px - 20px);
	text-align: center;
	background: url("http://www.jamesarc.com/work/wheelz/assets/img/stats-bg.jpg") no-repeat center;
	background-size: cover;
	background-color: $cod-gray;
}

.product {
	width: 100%;
	padding-top: 50px;
	padding-bottom: calc(70px - 50px);
	text-align: center;
	color: $mine-shaft;
	background-color: $white;
}

.product__heading { color: $cod-gray; }


.product__item,
.product__item:link,
.product__item:hover,
.product__item:visited {
	color: $mine-shaft;
}
.team {
	width: 100%;
	padding-top: 50px;
	padding-bottom: calc(60px - 30px);
	text-align: center;
	color: $cod-gray;
	background-color: $gallery;
}

.showcase {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	color: $mine-shaft;
	background-color: $white;
}

.showcase__heading { color: $cod-gray; }

.footer {
	width: 100%;
	padding-top: 50px;
	padding-bottom: calc(100px - 30px);
	text-align: center;
	color: $gallery;
	background-color: $cod-gray;
}

.footer__subheading {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
	color: $silver-chalice;
}

.footer__subheading a,
.footer__subheading a:link,
.footer__subheading a:hover,
.footer__subheading a:visited {
	color: $silver-chalice;
}

.showcase__follow a,
.showcase__follow a:link,
.showcase__follow a:hover,
.showcase__follow a:visited {
	color: $mine-shaft;
}


.quick-link a,
.quick-link a:link,
.quick-link a:hover,
.quick-link a:visited {
	color: $gallery;
}

::-webkit-scrollbar-thumb{ background-color: $gallery; }