/* text */
.black {
  background-color: black;
  margin-top: 10px;
}

.text-white {
  color: #fff;
}

/* all buttons */
button {
  position: relative;
  
  border: 1px solid white;
  padding: 20px;
  font-size: 0.9em;
  color: black;
  -webkit-box-shadow: 4px 4px 0px 0px white;
          box-shadow: 4px 4px 0px 0px white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
}

button:hover {
  left: 4px;
  top: 4px;
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
}

/* all button end */
.peach {
  background-color: peachpuff;
}

/* cards flip */
.flip-card {
  background-color: transparent;
  
  height: 150px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front {
  background-color: snow;
  color: black;
}

/* flip cards end */
/* text +img */
h3 {
  font-size: 45px;
  line-height: 1.22em;
  color: salmon;
}

/* text + img end */
body {
  background: #f1f2f3;
  color: #262626;
  font-family: 'Arial',sans-serif;
}

img {
  max-width: 100%;
}

#wrap {
  width: 90%;
  margin: 20px auto;
}

#product_layout_3 .product_image {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  float: left;
}

#product_layout_3 .product_image .main_image img {
  margin: 0 auto;
  border: 1px solid #808080;
  border-radius: 2px;
}

#product_layout_3 .product_desc {
  width: 50%;
  float: left;
  margin-left: 10%;
  min-height: 660px;
}

#product_layout_3 .product_desc h1 {
  font-size: 1.6em;
  font-weight: 500;
}

#product_layout_3 .product_desc .price {
  display: block;
  font-size: 1.4em;
  color: #ccc;
  text-decoration: line-through;
}

#product_layout_3 .product_desc .sale_price {
  display: block;
  font-size: 1.8em;
  color: crimson;
  font-weight: 700;
}

#product_layout_3 .product_desc .stars {
  display: block;
  font-size: 1em;
  color: goldenrod;
  margin-top: 5px;
}

#product_layout_3 .product_options .select {
  width: 100%;
  max-width: 300px;
  height: 40px;
  overflow: hidden;
  background: url("https://i.imgur.com/10e9Roz.png") no-repeat right #FFF;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 15px;
}

#product_layout_3 .product_options select {
  background: transparent;
  display: block;
  width: 268px;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
}

#product_layout_3 .buying {
  max-width: 300px;
  width: 100%;
  display: block;
}

#product_layout_3 .buying .quantity {
  font-size: 1em;
  margin-top: 15px;
  width: 35%;
  float: left;
  display: block;
}

#product_layout_3 .buying .quantity [type="text"] {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}

#product_layout_3 .buying .cart {
  margin-top: 25px;
  width: 65%;
  float: left;
  margin-bottom: 20px;
}

#product_layout_3 .buying .cart a.add {
  font-size: 1em;
  float: right;
  color: #FFF;
  background: skyblue;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: -10px;
  border-radius: 2px;
}

#product_layout_3 .product_desc .other_options {
  color: #aaa;
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-bottom: 15px;
}

#product_layout_3 .product_desc .other_options span {
  display: block;
}

#product_layout_3 .product_desc .description {
  font-size: 1.4em;
  display: block;
  width: 100%;
  clear: both;
}

#product_layout_3 .product_desc .social {
  font-size: 1.4em;
  line-height: 0.2;
  margin-bottom: 15px;
  width: 60%;
  display: block;
  margin: 15px 0px;
}

#product_layout_3 .product_desc .social .share {
  margin-top: -5px;
  margin-bottom: 15px;
}

#product_layout_3 .product_desc .buttons {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 30%;
}

#product_layout_3 .tabular {
  display: block;
  margin-top: 20px;
  width: 100%;
}

#product_layout_3 .tabular ul.tabs {
  width: 50%;
  height: 80px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

#product_layout_3 .tabular ul.tabs li {
  float: left;
  width: 32%;
  margin-right: 1%;
}

#product_layout_3 .tabular ul.tabs li a {
  position: relative;
  display: block;
  height: 30px;
  margin-top: 40px;
  padding: 10px 0 0 0;
  font-size: 1.8em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: skyblue;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
  margin-bottom: -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#product_layout_3 .tabular .tabs li:first-child a {
  z-index: 3;
  border-top-left-radius: 3px;
}

#product_layout_3 .tabular .tabs li:nth-child(2) a {
  z-index: 2;
}

#product_layout_3 .tabular .tabs li:last-child a {
  z-index: 1;
  border-top-right-radius: 3px;
}

#product_layout_3 .tabular ul.tabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

#product_layout_3 .tabular ul.tabs li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #545f60;
  color: skyblue;
  z-index: 4;
  outline: none;
  border: 1px solid #808080;
}

#product_layout_3 .tabular .group:after {
  clear: both;
}

#product_layout_3 .tabular #content {
  width: 100%;
  min-height: 200px;
  background: #545f60;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2em;
  float: left;
  margin-top: -10px;
  border: 1px solid #808080;
  border-top: 0;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#product_layout_3 .tabular #content p {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4em;
  margin: 10px;
}

#product_layout_3 .tabular #content #one {
  -webkit-columns: 2;
  -moz-columns: 2;
}

#product_layout_3 .tabular #content #one .images {
  width: 45%;
  float: left;
}

#product_layout_3 .tabular #content #two .author {
  font-size: 1.6em;
  font-weight: 700;
  color: #FFF;
  display: inline-block;
  margin: 10px;
}

#product_layout_3 .tabular #content #two .stars {
  font-size: 1.8em;
  color: goldenrod;
  display: inline-block;
  margin: 10px;
}

#product_layout_3 .tabular #content #two span.full_review a {
  font-size: 1.4em;
  display: block;
  color: skyblue;
  text-align: center;
}

#product_layout_3 .tabular #content #two span.write_review a {
  font-size: 1.4em;
  color: skyblue;
  text-align: center;
  display: block;
  margin-top: 10px;
}

#product_layout_3 .tabular #content #three .images {
  width: 45%;
  float: left;
  display: block;
  margin-right: 5%;
  -moz-columns: 2;
  -webkit-columns: 2;
  height: auto;
}

#product_layout_3 .tabular #content #three .images img {
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#product_layout_3 .tabular #content #three .details {
  width: 45%;
  float: left;
  margin-left: 5%;
  height: auto;
}

#product_layout_3 .product_image .main_image img {
  margin: 0 auto;
  /* border: 1px solid #808080; */
  border-radius: 2px;
}

@media (max-width: 500px) {
  #product_layout_3 .product_image, #product_layout_3 .product_desc {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #product_layout_3 .tabular ul.tabs {
    width: 100%;
  }
  #product_layout_3 .tabular #content #three {
    height: auto;
    display: block;
  }
  #product_layout_3 .tabular #content #one {
    width: 100%;
    float: none;
    -moz-columns: 1;
    -webkit-columns: 1;
  }
  #product_layout_3 .tabular #content #three .images, #product_layout_3 .tabular #content #three .details {
    width: 100%;
    float: none;
    -moz-columns: 1;
    -webkit-columns: 1;
  }
  #product_layout_3 .buying .quantity {
    width: 35%;
  }
  #product_layout_3 .buying .cart {
    width: 65%;
    background: steelblue;
  }
}
/*# sourceMappingURL=dummy.css.map */

@media only screen and (max-width: 740px) {
 .flip-card{
   margin-bottom: 10px;
 }
}

@media only screen and (max-width: 345px) {
  .col-xs-6{
    width: 50%;
  }
 }

