/**
 * CONTENTS
 *
 * GENERAL
 * Variables............Sass variables.
 * Mixins...............Useful mixins.
 * Global...............Globally-available variables and config.
 * Wrappers.............Wrapping and constraining elements.
 *
 * MISC
 * Logo.................Logo styles.
 * Menu.................Menu styles.
 * Parallax.............Parallax styles.
 *
 * HAMBURGERS
 * hamburgers.css.......Hamburgers styles.
 *
 * NAVIGATION
 * Navigation...........Navigation styles.
 * Sticky Header........Sticky header styles.
 *
 * HOME.................Home section styles.
 *
 * ABOUT US.............About Us section styles.
 *
 * SOME STATISTICS......Some Statistics section styles.
 *
 * FEATURED PRODUCTS....Featured Products section styles.
 *
 * MEET THE TEAM........Meet the Team section styles.
 *
 * #SOCIAL SHOWCASE.....#Social Showcase section styles.
 *
 * FOOTER...............Footer styles.
 *
 * MEDIA QUERIES........Media query styles.
 */

/*------------------------------------*\
	GENERAL
\*------------------------------------*/

$sans-serif-font-stack: Raleway, Arial, Helvetica, sans-serif;

$white: #fff;
$cod-gray: #1e1e1e;
$mine-shaft: #3b3b3b;
$silver-chalice: #9d9d9d;
$gallery: #ededed;

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

html,
body {
  height: 100%;
  font-family: serif;
}

body {
  font-family: serif;
  font-size: 20px;

  letter-spacing: 0.125em;
}

h2 {
  font-size: 30px;

  text-transform: uppercase;
}

a:link,
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: $cod-gray;
}

::-webkit-scrollbar-thumb {
  background-color: $gallery;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
}

/*------------------------------------*\
	MISC
\*------------------------------------*/

.logo,
.menu {
  position: absolute;
  top: calc(117px - 5px);
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2001;
}

.logo {
  left: 10%;
}

.nav-active .logo,
.nav-active .menu {
  position: fixed;
  z-index: 3001;
}

.menu {
  right: 10%;
  cursor: pointer;
}

.menu:hover {
  opacity: 0.7;
}

.menu__text {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

body .parallax {
  background-attachment: fixed;
}

/*------------------------------------------*\
	HAMBURGERS
	@description Tasty CSS-animated hamburgers
	@author Jonathan Suh @jonsuh
	@site https://jonsuh.com/hamburgers
	@link https://github.com/jonsuh/hamburgers
\*------------------------------------------*/

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger__box {
  width: 19px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: 0;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 18px;
  height: 3px;
  background-color: $gallery;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -6px;
}

.hamburger__inner::after {
  bottom: -6px;
}

.hamburger--spin .hamburger__inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger__inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger__inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger__inner {
  @include transform(rotate(225deg));
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger__inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger__inner::after {
  bottom: 0;
  @include transform(rotate(-90deg));
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  z-index: 2001;
}

.hamburger:focus {
  outline: none;
}

/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/

.nav--menu {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  text-align: center;
  background-color: $cod-gray;
  visibility: hidden;
  opacity: 0;
}

.nav-active .nav--menu {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 3000;
}

.nav--menu__item {
  display: block;
}

.nav--menu__link {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
}

.nav--menu__link,
.nav--menu__link:link,
.nav--menu__link:hover,
.nav--menu__link:visited {
  color: $gallery;
}

.nav--menu__link,
.nav--menu__desc {
  visibility: hidden;
  opacity: 0;
}

.nav-active .nav--menu__link,
.nav-active .nav--menu__desc {
  visibility: visible;
  opacity: 1;
}

.nav--menu__desc {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 80px;
  background-color: $white;
  z-index: 3000;
  transition: all 0.5s ease;
}

.box-shadow {
  box-shadow: 0 1px 27px rgba(0, 0, 0, 0.16);
}

.nav-active .header {
  z-index: 2000;
}

.header--sticky {
  top: 0;
}

.header .wrapper {
  position: relative;
  height: 100%;
}

.logo--header {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  float: right;
  text-transform: uppercase;
}

.nav__item {
  display: inline-block;
}

.nav__item:nth-child(n + 2) {
  margin-left: calc(60px - 4px);
}

.nav__link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.nav__link,
.nav__link:link,
.nav__link:hover,
.nav__link:visited {
  color: $cod-gray;
}

.nav__link:hover {
  opacity: 0.7;
}

/*------------------------------------*\
	HOME
\*------------------------------------*/

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  background: url("https://wpmisc.com/sites/default/files/wallpaper/love/70171/love-hd-wallpapers-70171-819277.png")
    no-repeat center;
  background-size: cover;
  background-color: $cod-gray;
  z-index: 1000;
}

.home .wrapper {
  position: relative;
  height: 100%;
}

.home__wrapper {
  position: absolute;
  top: 55%;
  right: 10%;
  @include transform(translateY(-50%));
  width: 80%;
  text-align: right;
}

.home h2 {
  font-size: 48px;
  color: $gallery;
}

.home p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.67;
  color: $gallery;
}

.home span {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.scroll-down {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  bottom: 86px;
}

.scroll-down img {
  width: 45px;
}

@include keyframes(anim--scroll-down) {
  0% {
    @include transform(translateY(-7px));
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    @include transform(translateY(7px));
    opacity: 0;
  }
}

.anim--scroll-down {
  -webkit-animation: anim--scroll-down 1.5s ease-in-out infinite;
  animation: anim--scroll-down 1.5s ease-in-out infinite;
}

/*------------------------------------*\
	ABOUT US
\*------------------------------------*/

.about {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  color: $mine-shaft;
  background-color: $white;
  transition: all 0.5s ease;
}

.about .container-fluid {
  padding-right: 15%;
  padding-left: 15%;
}

.about__heading {
  color: $cod-gray;
}

.about__subheading {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
  font-family: Amatic SC, cursive;
}

.about__image {
  margin-top: 15px;
  display: unset;
}

.about__text {
  margin-top: 20px;
  font-size: 19px;
  line-height: 2.2;
  text-align: center;
  font-family: Amatic SC, cursive;
}

/*------------------------------------*\
	SOME STATISTICS
\*------------------------------------*/

.stats {
  width: 100%;
  padding-top: 90px;
  padding-bottom: calc(100px - 20px);
  text-align: center;
  background: url("http://www.jamesarc.com/work/wheelz/assets/img/stats-bg.jpg")
    no-repeat center;
  background-size: cover;
  background-color: $cod-gray;
}

.stats .container-fluid {
  padding-right: 15%;
  padding-left: 15%;
}

.stats__subheading {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
  color: black;
}

.stats__item-group {
  margin-top: 60px;
}

.stats__item {
  margin-bottom: 20px;
}

.stats__no {
  display: block;
  font-size: 72px;
  color: #000;
}

.about__image {
  margin-top: 15px;
  display: unset;
  width: 10%;
}

.stats__text {
  display: initials;
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
}

/*------------------------------------*\
	FEATURED PRODUCTS
\*------------------------------------*/

.product {
  width: 100%;
  padding-top: 0px;
  padding-bottom: calc(70px - 50px);
  text-align: center;
  color: $mine-shaft;
  background-color: $white;
}

.product .container-fluid {
  padding-right: 15%;
  padding-left: 15%;
}

.product__heading {
  color: $cod-gray;
}

.product__subheading {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}

.product__item-group {
  margin-top: 30px;
}

.product__item-group .col-md-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.product__item {
  display: inline-block;
  margin-bottom: 50px;
}

.product__item,
.product__item:link,
.product__item:hover,
.product__item:visited {
  color: $mine-shaft;
}

.product__item:hover .product__image {
  opacity: 0.7;
}

.product__image {
  display: inline-block;
  width: 100%;
}

.product__caption span {
  display: block;
}

.product__name {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.product__price {
  margin-top: 8px;
  font-size: 30px;
}

.product__learn-more {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: underline;
}

/*------------------------------------*\
	MEET THE TEAM
\*------------------------------------*/

.team {
  width: 100%;
  padding-top: 00-px;
  padding-bottom: calc(60px - 30px);
  text-align: center;
  color: $cod-gray;
  background-color: $gallery;
}

.team__subheading,
.team__name,
.team__position {
  display: block;
}

.team__subheading {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}

.team__person-group {
  margin-top: 50px;
}

.team__person {
  margin-bottom: 30px;
}

.team__image {
  display: inline-block;
  width: 100%;
  max-width: 216px;
  border-radius: 115px;
}

.team__name {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}

.team__position {
  margin-top: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}

/*------------------------------------*\
	#SOCIAL SHOWCASE
\*------------------------------------*/

.showcase {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: $mine-shaft;
  background-color: $white;
}

.showcase__heading {
  color: $cod-gray;
}

.showcase__subheading {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}

.showcase__item-group {
  margin-top: 50px;
}

.showcase__item-group .row {
  margin-right: 0;
  margin-left: 0;
  font-size: 0;
}

.showcase__item-group .col-6 {
  padding-right: 0;
  padding-left: 0;
}

.showcase__item {
  display: inline-block;
  overflow: hidden;
}

.showcase__item,
.showcase__image {
  width: 100%;
}

.showcase__image {
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transform(translateZ(0));
}

.showcase__item:hover .showcase__image {
  opacity: 0.7;
  @include transform(scale(1.1));
}

.showcase__follow {
  display: inline-block;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}

.showcase__follow a {
  text-decoration: underline;
}

.showcase__follow a,
.showcase__follow a:link,
.showcase__follow a:hover,
.showcase__follow a:visited {
  color: $mine-shaft;
}

.showcase__follow a:hover {
  opacity: 0.7;
}

/*------------------------------------*\
	FOOTER
\*------------------------------------*/

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: calc(100px - 30px);
  text-align: center;
  color: $gallery;
  background-color: $cod-gray;
}

.logo--footer,
.footer__subheading {
  display: block;
}

.logo--footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.footer__subheading {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: $silver-chalice;
}

.footer .footer__subheading:first-of-type {
  margin-top: 30px;
}

.footer__subheading a:hover {
  text-decoration: underline;
}

.footer__subheading a,
.footer__subheading a:link,
.footer__subheading a:hover,
.footer__subheading a:visited {
  color: $silver-chalice;
}

.footer__links {
  margin-top: 60px;
  text-align: left;
}

.links__item {
  margin-bottom: 30px;
}

.links__title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.quick-link,
.social-group {
  margin-top: 25px;
}

.quick-link ul li:nth-child(n + 2) {
  margin-top: 10px;
}

.quick-link a {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}

.quick-link a,
.quick-link a:link,
.quick-link a:hover,
.quick-link a:visited {
  color: $gallery;
}

.quick-link a:hover,
.social:hover {
  opacity: 0.7;
}

.social-group {
  white-space: nowrap;
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social:nth-child(n + 2) {
  margin-left: calc(10px - 4px);
}

.social--facebook {
  background: url("http://www.jamesarc.com/work/wheelz/assets/img/sprites-social.png")
    0 0;
}

.social--linkedin {
  background: url("http://www.jamesarc.com/work/wheelz/assets/img/sprites-social.png") -30px
    0;
}

.social--instagram {
  background: url("http://www.jamesarc.com/work/wheelz/assets/img/sprites-social.png") -60px
    0;
}

.social--twitter {
  background: url("http://www.jamesarc.com/work/wheelz/assets/img/sprites-social.png") -90px
    0;
}

.map {
  width: 100%;
  opacity: 0.7;
}

.map:hover {
  opacity: 0.5;
}

/*------------------------------------*\
	MEDIA QUERIES
\*------------------------------------*/

/* Extra large devices (large desktops) */
@media (max-width: 1599px) {
  body {
    font-size: 18px;
  }

  .logo,
  .menu {
    top: calc(60px - 5px);
  }

  .logo img,
  .logo--header img,
  .logo--footer img {
    width: 200px;
  }

  .nav--menu {
    padding-top: 150px;
  }

  .header {
    height: 70px;
  }

  .nav__item:nth-child(n + 2) {
    margin-left: calc(30px - 4px);
  }

  .scroll-down {
    bottom: 50px;
  }

  .scroll-down img {
    width: 35px;
  }

  .product__item-group .col-md-4 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  .stats__no {
    font-size: 4.5em;
  }

  .home h2 {
    font-size: 3em;
  }

  h2,
  .nav--menu__link,
  .product__price,
  .team__name {
    font-size: 1.875em;
  }

  .menu__text,
  .home p,
  .stats__text,
  .product__name,
  .showcase__follow {
    font-size: 1.5em;
  }

  .nav__link,
  .home span,
  .about__subheading,
  .stats__subheading,
  .product__subheading,
  .product__learn-more,
  .team__subheading,
  .team__position,
  .showcase__subheading,
  .footer__subheading {
    font-size: 1.125em;
  }

  .footer__subheading,
  .links__title,
  .quick-link a {
    font-size: 1em;
  }

  .about__text,
  .nav--menu__desc {
    font-size: 0.875em;
  }

  .product {
    padding-bottom: calc(70px - 40px);
  }

  .product__item-group .col-md-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product__item {
    margin-bottom: 40px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  body {
    font-size: 15px;
  }

  .container-fluid {
    padding-right: 6.25%;
    padding-left: 6.25%;
  }

  .nav--menu__desc {
    left: 6.25%;
  }

  .menu,
  .home__wrapper {
    right: 6.25%;
  }

  .nav--menu {
    padding-top: 120px;
    padding-left: 6.25%;
    text-align: left;
  }

  .nav--menu__desc,
  .home__wrapper {
    width: 87.5%;
  }

  .header {
    height: 60px;
  }

  .nav__item:nth-child(n + 2) {
    margin-left: calc(20px - 4px);
  }

  .about .container-fluid,
  .stats .container-fluid,
  .product .container-fluid {
    padding-right: 10%;
    padding-left: 10%;
  }

  .stats {
    padding-top: 60px;
    padding-bottom: calc(70px - 20px);
  }

  .stats__item-group,
  .team__person-group,
  .showcase__item-group,
  .showcase__follow,
  .footer__links {
    margin-top: 40px;
  }

  .product__item-group,
  .team__name {
    margin-top: 20px;
  }

  .product {
    padding-bottom: calc(60px - 30px);
  }

  .product__item {
    margin-bottom: 30px;
  }

  .product__price {
    margin-top: 5px;
  }

  .product__learn-more,
  .team__position {
    margin-top: 8px;
  }

  .footer {
    padding-bottom: calc(80px - 30px);
  }

  .footer__subheading {
    margin-top: 0;
  }

  .footer .footer__subheading:first-of-type {
    margin-top: 15px;
  }

  .quick-link,
  .social-group {
    margin-top: 5px;
  }

  .quick-link ul li:nth-child(n + 2) {
    margin-top: 3px;
  }

  .social {
    width: 21px;
    height: 21px;
    background-size: 400%;
  }

  .social--linkedin {
    background-position: -21px 0;
  }

  .social--instagram {
    background-position: -42px 0;
  }

  .social--twitter {
    background-position: -63px 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .logo,
  .menu {
    top: calc(45px - 5px);
  }

  body .parallax {
    background-attachment: scroll;
  }

  .nav--menu {
    padding-top: 100px;
  }

  .about .container-fluid,
  .stats .container-fluid,
  .product .container-fluid {
    padding-right: 6.25%;
    padding-left: 6.25%;
  }

  .stats__item-group,
  .team__person-group,
  .showcase__item-group,
  .showcase__follow,
  .footer__links {
    margin-top: 30px;
  }

  .stats__text,
  .team__name {
    margin-top: 10px;
  }

  .product,
  .team {
    padding-bottom: calc(50px - 20px);
  }

  .product__item-group .col-sm-6 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .product__item,
  .team__person,
  .links__item {
    margin-bottom: 20px;
  }

  .product__image,
  .team__image {
    width: 80%;
  }

  .showcase {
    padding-top: 50px;
  }

  .showcase .container-fluid {
    padding-right: 10%;
    padding-left: 10%;
  }

  .footer {
    padding-bottom: calc(60px - 30px);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  body {
    font-size: 12px;
  }

  .nav--menu__desc,
  .about p {
    font-size: 12px;
  }

  .product__image,
  .team__image,
  .map {
    width: 66.67%;
  }

  .showcase .container-fluid {
    padding-right: 6.25%;
    padding-left: 6.25%;
  }

  .footer__links {
    text-align: center;
  }
}

@media (min-width: 1920px) {
  .nav__item:nth-child(n + 2) {
    margin-left: calc(100px - 4px);
  }

  .footer {
    padding-bottom: calc(200px - 30px);
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: Amatic SC, cursive;

  line-height: 1.2;
  color: black;
}

.stats {
  width: 100%;
  padding-top: 90px;
  padding-bottom: calc(100px - 20px);
  text-align: center;
  background: url(https://www.victoriabradley.co.uk/wp-content/uploads/2019/01/004-3.jpg)
    no-repeat center;
  background-size: cover;

  color: white;
}

.menu__text {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.home p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.67;

  color: black;
}

.about__heading {
  color: black;
  font-family: Amatic SC, cursive;
}

.links__title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: #dd4b39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 7px 0px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

body {
  margin: 0;
  height: 2000px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* a, a:hover, a:focus, a:active { text-decoration: none; } */

.app-body {
  background: #fff;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-contact span {
  color: #808080;
  font-weight: 600;
}

header .header-contact span a {
  color: #000;
}

.logo a {
  display: inline-block;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  margin-right: 20px;
}

.header-nav ul li:last-child {
  margin-right: 0px;
}

.header-nav ul li a {
  display: block;
}

.header-nav ul li a span {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .navbar {
  padding: 0px;
}

.navigation-bar .navbar .navbar-nav .nav-item .nav-link {
  padding: 4px 20px;
  font-size: 25px;
  font-family: serif;
  color: #000;
}

.navigation-bar .navbar .navbar-nav .nav-item.active .nav-link {
  color: #2fad4a;
}

.navigation-bar .navbar .dropdown-menu {
  margin-top: 0px;
  border: none;
  border-radius: 0px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* contact us */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://dezov.s3.amazonaws.com/media/white-backgrounddfb-44ed-bd3f-5ae00e13b244.jpgg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.cont {
  position: relative;
  display: block;
  width: 35%;
  height: 500px;
  margin: 60px auto;
  padding: 5px 20px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-weight: 100;
  text-align: center;
}

span.orange {
  display: inline;
  font-size: 75px;
  color: #ffa700;
  margin-right: -15px;
}

.contact {
  width: 100%;
  height: 330px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 0px #0e0e0e;
  background-color: rgba(255, 255, 255, 0.12);
}

.c1,
.c2,
.c3,
.c4 {
  display: inline-block;
  color: rgb(0, 0, 0);
  height: 35px;
  font-size: 20px;
  margin: 10px 5px;
  padding: 0 0 0 10px;
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.28);
}

input::placeholder,
textarea::placeholder {
  color: black;
  font-size: 18px;
}

.c1,
.c2 {
  width: 45%;
}

.c3,
.c4 {
  width: 94%;
}

.c4 {
  height: 90px;
  padding: 5px 10px;
}

input[type="submit"] {
  width: 94%;
  height: 50px;
  color: #fff;
  font-size: 35px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  background: #e19c1a;
}

/* collage */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: -webkit-fill-available;
}

main {
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url(https://source.unsplash.com/De8wMYoSSBc);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1.5rem;
  text-align: center;

  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}

/* booking form */
@import url("https://fonts.googleapis.com/css?family=Bitter|Roboto:400,700");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

form {
  /* Just to center the form on the page */
  margin: 0px auto;
  max-width: 700px;
  padding: 3em;
  border: solid 1px lightgray;
}

form div + div {
  /* Inter-div spacing */
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: block;
  text-align: left;
}

input,
textarea,
select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em Bitter, sans-serif;
  padding: 8px;

  /* To give the same size to all text fields */
  width: 100%;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 10em;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  width: 100%;
  padding: 8px;
  font-size: 1em;
  background-color: orange;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* testimonial */
.heading {
  position: relative;
}

.testimonials {
  background: url("https://i.ibb.co/JRrHmhv/shanghai.jpg") center center
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 130px 0 150px;
  color: #ffffff;
  position: relative;
}

.testimonials:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.testimonials .heading h2 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

.testimonials .heading h2 span {
  color: #ff0000;
}

.testimonials p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #d1e5e7;
  margin: 20px 0;
  padding: 0;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
  width: 100px;
  height: 100px;
  border: 2px solid #ff0000;
  border-radius: 100%;
  padding: 5px;
  margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 14px;
  font-weight: 300;
  color: #e2e1e1;
  margin-bottom: 20px;
}

.testimonials .carousel-indicators {
  bottom: -30px;
}

.testimonials .carousel-indicators li {
  background-color: #b8b7b7;
  border-radius: 30px;
  height: 4px;
  width: 40px;
}

.testimonials .carousel-indicators .active {
  background-color: #ff0000;
}

.testimonials .control span {
  cursor: pointer;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff;
}

/* pricing */
body {
}

#pricing-table {
  margin: 100px auto;
  text-align: center;
  width: 720px;
  /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
  font: 12px "Lucida Sans", "trebuchet MS", Arial, Helvetica;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px;
  /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
  float: left;
  position: relative;
}

#pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15),
    -20px 0 10px -10px rgba(0, 0, 0, 0.15);
}

#pricing-table .plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* --------------- */

#pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff, #eee);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eee),
    to(#ddd)
  );
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#pricing-table .plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

#pricing-table li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* --------------- */

#pricing-table .signup {
  position: relative;
  padding: 8px 20px;
  margin: 20px 0 0 0;
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #72ce3f;
  background-image: -moz-linear-gradient(#72ce3f, #62bc30);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#72ce3f),
    to(#62bc30)
  );
  background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
  background-image: -o-linear-gradient(#72ce3f, #62bc30);
  background-image: -ms-linear-gradient(#72ce3f, #62bc30);
  background-image: linear-gradient(#72ce3f, #62bc30);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
}

#pricing-table .signup:hover {
  background-color: #62bc30;
  background-image: -moz-linear-gradient(#62bc30, #72ce3f);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#62bc30),
    to(#72ce3f)
  );
  background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
  background-image: -o-linear-gradient(#62bc30, #72ce3f);
  background-image: -ms-linear-gradient(#62bc30, #72ce3f);
  background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing-table .signup:active,
#pricing-table .signup:focus {
  background: #62bc30;
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

/* --------------- */

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

/* pricing end */

/* photos */

/* new */
body {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.ze-card-full-wrap {
  display: flex;
}

.ze-card-invi-wrap {
  display: flex;
  cursor: pointer;
  width: 25%;
  margin: 50px auto;
  overflow: hidden;
  padding: 45px;
  padding-bottom: 100px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.ze-card-invi-wrap:hover .ze-img-w {
  transform: translateZ(20px);
}

.ze-card-invi-wrap:hover .ze-img-w:after {
  top: 200%;
}

.ze-card-invi-wrap:hover .ze-title:after {
  width: 90%;
}

.ze-card-ze-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  opacity: -0.95;
  background-size: cover;
  backgound-repeat: no-repeat;
  background-position: center;
}

.ze-card {
  max-width: 320px;
  padding: 25px;
  padding-bottom: 255px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 5;
}

.ze-card .ze-img-w {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -60px;
  right: -55px;
  width: 100%;
  height: 300px;
  border-radius: 9px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translateZ(15px);
  transition: all 0.5s;
}

.ze-card .ze-img-w:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 250%;
  height: 100%;
  top: -200%;
  left: -70%;
  transform: rotateZ(-45deg);
  opacity: 0.2;
  transition: all 0.5s;
}

.ze-card .ze-title {
  font-size: 38px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  left: 15px;
  top: 8px;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.ze-card .ze-title:after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 3px;
  width: 0;
  height: 10px;
  background: lightskyblue;
  z-index: -1;
  transition: all 0.5s;
}

.ze-card .ze-description {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 15px;
  opacity: 0.4;
  position: relative;
  left: 8px;
  top: 5px;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}

/* new cards */

/*PEN STYLES*/
* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    /* max-width: 700px; */
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/* abou us */

.artboard {
  position: relative;
  margin: auto;
  width: 60vmin;
  height: 60vmin;
}

.quote {
  position: relative;
  margin: auto;
  width: 60vmin;
  text-transform: uppercase;
  color: black;
  font-family: "Luckiest Guy", cursive;
  font-size: 6vmin;
  letter-spacing: 0.2vmin;
  text-align: center;
}

.quote span {
  opacity: 0.1;
  transition: 0.5s ease-in-out;
}

.quote span.highlight {
  opacity: 1;
}

#watch {
  position: absolute;
  left: 18vmin;
  top: 7.7vmin;
  transition: 0.5s cubic-bezier(0.42, 0, 0.57, 1.38);
  transform-origin: 12vmin 13.8vmin;
  opacity: 1;
  transform: scale(1) rotate(0);
}

#watch div {
  transform: scale(1) rotate(0) translate(0, 0);
  opacity: 1;
  transition: 0.4s cubic-bezier(0.6, 0.04, 0.08, 1.3);
}

#watch.out div {
  opacity: 0;
  transform: scale(0.1) rotate(90deg);
}

#watch.ready div {
  opacity: 0;
  transform: scale(0.1) rotate(-90deg);
}

#watch #outline {
  position: absolute;
  top: 8.5vmin;
  width: 24vmin;
  height: 27.6vmin;
  border-radius: 4.5vmin;
  background: #ffc8c3;
  display: flex;
  transform-origin: center center;
}

#watch #screen {
  width: 21.6vmin;
  height: 25vmin;
  background: #ff766d;
  border-radius: 3.6vmin;
  margin: auto;
  transition-delay: 50ms;
  transform-origin: center center;
}

#watch #band-up {
  position: absolute;
  left: 4.9vmin;
  width: 14.2vmin;
  height: 8.5vmin;
  background: linear-gradient(#ffc8c3, #ff766d);
  border-radius: 1vmin 1vmin 0 0;
  transform-origin: center 18.05vmin;
}

#watch #band-bottom {
  position: absolute;
  left: 4.9vmin;
  top: 36vmin;
  width: 14.2vmin;
  height: 8.5vmin;
  background: linear-gradient(#ff766d, #ffc8c3);
  border-radius: 0 0 1vmin 1vmin;
  transform-origin: center -1.75vmin;
}

#watch #crown {
  position: absolute;
  left: 23.25vmin;
  top: 14vmin;
  width: 1.6vmin;
  height: 4.8vmin;
  background: #ff766d;
  border-radius: 0 0.8vmin 0.8vmin 0;
  transition-delay: 50ms;
  transform-origin: -11.3vmin 8.3vmin;
}

#watch #button {
  position: absolute;
  left: 23.8vmin;
  top: 23vmin;
  width: 0.6vmin;
  height: 7.2vmin;
  background: #ff766d;
  border-radius: 0 0.4vmin 0.4vmin 0;
  transition-delay: 100ms;
  transform-origin: -11.7vmin -0.7vmin;
}

#phone {
  position: absolute;
  left: 16.65vmin;
  top: 3.2vmin;
}

#phone div {
  transform: scale(1) rotate(0) translate(0, 0);
  opacity: 1;
  transition: 0.4s cubic-bezier(0.6, 0.04, 0.08, 1.3);
}

#phone.out div {
  opacity: 0;
  transform: scale(0.1) rotate(90deg);
}

#phone.ready div {
  opacity: 0;
  transform: scale(0.1) rotate(-90deg);
}

#phone #outline {
  position: absolute;
  width: 26.7vmin;
  height: 53.6vmin;
  background: #d8f5ff;
  border-radius: 3.8vmin;
  display: flex;
  transform-origin: center center;
}

#phone #screen {
  margin: auto;
  width: 23.5vmin;
  height: 41.6vmin;
  background: #91e3ff;
  transform-origin: center center;
  transition-delay: 100ms;
}

#phone #home {
  position: absolute;
  left: 11.6vmin;
  top: 48.8vmin;
  width: 3.8vmin;
  height: 3.8vmin;
  background: #91e3ff;
  border-radius: 100vmin;
  transition-delay: 50ms;
  transform-origin: 1.9vmin -22vmin;
}

#phone #camera {
  position: absolute;
  left: 13vmin;
  top: 2vmin;
  width: 0.7vmin;
  height: 0.7vmin;
  background: #91e3ff;
  border-radius: 100vmin;
  transform-origin: 0 24.8vmin;
}

#phone #sensor {
  position: absolute;
  left: 9.2vmin;
  top: 3.4vmin;
  width: 1vmin;
  height: 1vmin;
  background: #91e3ff;
  border-radius: 100vmin;
  transform-origin: 3.65vmin 23.4vmin;
}

#phone #speaker {
  position: absolute;
  left: 10.85vmin;
  top: 3.6vmin;
  width: 5vmin;
  height: 0.6vmin;
  background: #91e3ff;
  border-radius: 100vmin;
  transition-delay: 100ms;
  transform-origin: 0vmin 23.2vmin;
}

#phone #lock {
  position: absolute;
  left: 26.7vmin;
  top: 9.6vmin;
  width: 0.3vmin;
  height: 3.5vmin;
  background: #91e3ff;
  border-radius: 0 10vmin 10vmin;
  transform-origin: -13.35vmin 17.2vmin;
}

#phone #silent {
  position: absolute;
  left: -0.3vmin;
  top: 6.6vmin;
  width: 0.3vmin;
  height: 2.5vmin;
  background: #91e3ff;
  border-radius: 10vmin 0 0 10vmin;
  transition-delay: 100ms;
  transform-origin: 13.35vmin 20.2vmin;
}

#phone #volume-up {
  position: absolute;
  left: -0.3vmin;
  top: 10.6vmin;
  width: 0.3vmin;
  height: 3.5vmin;
  background: #91e3ff;
  border-radius: 10vmin 0 0 10vmin;
  transition-delay: 50ms;
  transform-origin: 13.35vmin 16.2vmin;
}

#phone #volume-down {
  position: absolute;
  left: -0.3vmin;
  top: 14.6vmin;
  width: 0.3vmin;
  height: 3.5vmin;
  background: #91e3ff;
  border-radius: 10vmin 0 0 10vmin;
  transform-origin: 13.35vmin 12.2vmin;
}

#laptop {
  position: absolute;
  left: 0;
  top: 10vmin;
}

#laptop div {
  transform: scale(1) rotate(0) translate(0, 0);
  opacity: 1;
  transition: 0.4s cubic-bezier(0.6, 0.04, 0.08, 1.3);
}

#laptop.out div {
  opacity: 0;
  transform: scale(0.1) rotate(90deg);
}

#laptop.ready div {
  opacity: 0;
  transform: scale(0.1) rotate(-90deg);
}

#laptop #outline {
  position: absolute;
  left: 6vmin;
  width: 48vmin;
  height: 33vmin;
  border-radius: 1vmin;
  background: #ffd568;
  display: flex;
  transform-origin: center center;
}

#laptop #screen {
  width: 44vmin;
  height: 29vmin;
  background: #fff2d1;
  margin: auto;
  transition-delay: 50ms;
  transform-origin: center center;
}

#laptop #keyboard {
  position: absolute;
  top: 33vmin;
  width: 60vmin;
  height: 1.3vmin;
  border-radius: 0.5vmin 0.5vmin 0 0;
  background: #ffd568;
  transform-origin: center -8vmin;
}

#laptop #back {
  position: absolute;
  top: 34.3vmin;
  width: 60vmin;
  height: 0.8vmin;
  background: #fff2d1;
  border-radius: 0 0 0.5vmin 0.5vmin;
  transform-origin: center -10vmin;
}

#laptop #notch {
  position: absolute;
  top: 33vmin;
  left: 25.7vmin;
  width: 8.6vmin;
  height: 0.5vmin;
  background: #fff2d1;
  border-radius: 0 0 0.5vmin 0.5vmin;
  transition-delay: 100ms;
  transform-origin: center -8vmin;
}

#laptop #camera {
  position: absolute;
  top: 0.5vmin;
  left: 29.7vmin;
  width: 0.8vmin;
  height: 0.8vmin;
  background: #fff2d1;
  border-radius: 0.4vmin;
  transition-delay: 50ms;
  transform-origin: center 20vmin;
}

/* cards */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebecf0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

body a {
  text-decoration: none;
  color: #172b4d;
}

body h1 {
  font-family: "Song Myung", serif;
}

/* DEFAULT STYLE */
:root {
  font-size: 16px;
  --card-img-height: 200px;
}

.card-container {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;
}

.card .card-img {
  visibility: hidden;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}

.card .card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}

.card .card-info .card-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  transition: all 200ms ease-in-out;
}

.card .card-info .card-about .card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}

.card .card-info .card-about .card-tag.tag-news {
  background: #36b37e;
}

.card .card-info .card-about .card-tag.tag-deals {
  background: #ffab00;
}

.card .card-info .card-about .card-tag.tag-politics {
  width: 71px;
  background: #ff5630;
}

.card .card-info .card-title {
  z-index: 10;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  transition: all 350ms ease-in-out;
}

.card .card-info .card-creator {
  padding-bottom: 0.75rem;
  transition: all 250ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.025);
}

.card:hover .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65)
  );
  height: 100%;
}

.card:hover .card-about,
.card:hover .card-creator {
  opacity: 0;
}

.card:hover .card-info {
  background-color: transparent;
}

.card:hover .card-title {
  color: #ebecf0;
  transform: translate(0, 40px);
}

.card-1 .card-img,
.card-1 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://source.unsplash.com/Qm_n6aoYzDs);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://source.unsplash.com/C-v1p2DTakA);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://source.unsplash.com/V0L1LH7qWOQ);
}

.card-4 .card-img,
.card-4 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://source.unsplash.com/zAi2Is48-MA);
}

/* header */
.top-banner {
  background-image: url("http://mammasandcrawlers.com/assets/images/IMG_2558.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 120px;
  width: 100%;
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.timlogo {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.head {
  position: absolute;
  top: 35px;
  right: 50px;
}

.head .tile {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.head .tile.socialmedia {
  color: #0b253e;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -6px;
}

header.clicked .head .tile.socialmedia {
  color: white;
}

.head .burger {
  margin-left: 25px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}

.meat {
  height: 40px;
  width: 40px;
  position: relative;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

header.clicked .head .burger .meat {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.meat .line {
  height: 4px;
  width: 40px;
  background-color: #0b253e;
  border-radius: 3px;
  position: absolute;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.meat .line.one {
  top: 5px;
  left: 0px;
}

.meat .line.two {
  top: 18px;
  left: 0px;
}

.meat .line.three {
  top: 31px;
  left: 0px;
}

header.clicked .burger .line {
  background-color: white;
}

header.clicked .burger .line.one {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 18px;
}

header.clicked .burger .line.two {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 18px;
}

header.clicked .burger .line.three {
  opacity: 0;
}

header.clicked .burger:hover .meat {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.nav-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  pointer-events: none;
}

header.clicked .nav-modal {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.nav-modal .blob {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: #0b253e;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease-in;
}

header.clicked .nav-modal .blob {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
}

nav {
  position: absolute;
  left: 4%;
  top: 50%;
  color: white;
  margin-top: -192px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

nav ul li {
  list-style: none;
  text-align: right;
  border-right: 6px solid white;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
}

nav {
  opacity: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

header.clicked nav {
  opacity: 1;
}

nav ul li ul {
  position: absolute;
  right: -300px;
  top: -4px;
  display: none;
}

nav ul li ul li {
  border: none;
  padding-bottom: 10;
  padding-left: 10px;
  height: 50px;
  width: 300px;
}

nav ul li ul li a {
  display: block;
  height: 50px;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

nav ul li.selected ul {
  display: block;
}

nav ul li.notselected a {
  opacity: 0.5;
}

nav ul li.selected ul li a {
  opacity: 1;
}

@media screen and (max-width: 820px) {
  .timlogo {
    margin-left: 50px;
  }
}

@media screen and (max-width: 580px) {
  .timlogo {
    width: 130px;
    padding-top: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav ul li ul {
    top: -9px;
  }

  nav ul li ul li {
    height: 40px;
  }

  nav ul li ul li a {
    font-size: 16px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .timlogo {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  header .head .tile.socialmedia {
    display: none;
  }
}
