<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/fonts.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/swiper.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/dummy.scss" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
</head>

<body>


  <section>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <header>
      <img class="timlogo" src="assets/images/try.png">
      <div class="nav-modal">
        <div class="blob"></div>
        <nav>
          <ul>


            <li><a href="index.html">HOME</a></li>
            <li><a href="photo-1.html">PHOTO</a></li>

            <li><a href="pricing1.html">PRICING</a></li>
            <li><a href="form-1.html">CONTACT US</a></li>
            <li><a href="bookingform-1.html">BOOKING FORM</a></li>
            <li><a href="testimonial-1.html">TESTIMONIAL</a></li>
          </ul>
        </nav>
      </div>
      <div class="head">
        <a href="#" class="tile socialmedia"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="tile socialmedia"><i class="fa fa-instagram"></i></a>
        <a href="#" class="tile socialmedia"><i class="fa fa-twitter-square"></i></a>
        <div class="tile burger">
          <div class="meat">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!-- banner -->
  <div class="top-banner"></div>



  <!-- End banner -->
  <!-- About Us -->
  <section class="about" id="about">
    <div class="container-fluid wrapper">
      <h2 class="about__heading" data-scroll-reveal>About Us</h2>
      <span class="about__subheading" data-scroll-reveal>Hi, My name is Anjali</span>
      <img class="about__image" src="assets/images/camera-icon-or-logo-transparent-png-amp-svg-vector-174538.png"
        width="10%" data-scroll-reveal>
      <p class="about__text" data-scroll-reveal>
        I'm a photographer and this is my site Mammasandcrawlers ( Mumma's and Crawlers).
      </p>
    </div>
  </section><!-- About Us -->

  <!-- new one -->
  <div class="wrapper">
    <div class="artboard">
      <div id="watch">
        <div id="crown"></div>
        <div id="button"></div>
        <div id="band-up"></div>
        <div id="band-bottom"></div>
        <div id="outline">
          <div id="screen"></div>
        </div>
      </div>
      <div id="phone" class="ready">
        <div id="outline">
          <div id="screen"></div>
        </div>
        <div id="home"></div>
        <div id="camera"></div>
        <div id="sensor"></div>
        <div id="speaker"></div>
        <div id="lock"></div>
        <div id="silent"></div>
        <div id="volume-up"></div>
        <div id="volume-down"></div>
      </div>
      <div id="laptop" class="out">
        <div id="outline">
          <div id="screen"></div>
        </div>
        <div id="keyboard"></div>
        <div id="notch"></div>
        <div id="back"></div>
        <div id="camera"></div>
      </div>
    </div>
    <div class="quote">
      <span class="highlight">You don’t take<br /></span>
      <span>a Photograph, <br /></span>
      <span>you make it.</span>
    </div>
  </div>
  </br>
  </br>

  <!-- Some Statistics -->
  <section class="stats" id="stats">
    <div class="container-fluid wrapper">
      <h2 class="stats__heading" data-scroll-reveal>Some Statistics</h2>
      <span class="stats__subheading" data-scroll-reveal>Acomplishment</span>
      <div class="stats__item-group">
        <div class="row justify-content-around">
          <div class="col-12 col-sm-5 col-md-3">
            <div class="stats__item" data-scroll-reveal>
              <span class="stats__no js-animate-counter" id="counter" data-count="50">50+</span>
              <span class="stats__text">Clients</span>
            </div>
          </div>
          <div class="col-12 col-sm-5 col-md-3">
            <div class="stats__item" data-scroll-reveal>
              <span class="stats__no js-animate-counter" data-count="2014">2014</span>
              <span class="stats__text">Year the Company Started</span>
            </div>
          </div>
          <div class="col-12 col-sm-5 col-md-3">
            <div class="stats__item" data-scroll-reveal>
              <span class="stats__no js-animate-counter" data-count="0">0</span>
              <span class="stats__text">Unsatisfied Clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Some Statistics -->

  <!-- Featured Products -->
  <section class="product" id="product">
    <div class="card-container pt-5">
      <div class="card card-1">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag tag-news">Photography</a>
            <div class="card-time"></div>
          </div>
          <h1 class="card-title">“You can find pictures anywhere. It’s simply a matter of noticing things and organizing
            them. You just have to care about what’s around you and have a concern with humanity and the human comedy.”
          </h1>
          <div class="card-creator">by <a href="">Elliot Erwitt</a></div>
        </div>
      </div>
      <div class="card card-2">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag">Photography</a>
            <div class="card-time"> </div>
          </div>
          <h1 class="card-title">“You don’t make a photograph just with a camera. You bring to the act of photography
            all the pictures you have seen, the books you have read, the music you have heard, the people you have
            loved.”</h1>
          <div class="card-creator">by <a href="">Ansel Adams</a></div>
        </div>
      </div>
      <div class="card card-3">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag tag-deals">Photography</a>
            <div class="card-time">5/27/2018</div>
          </div>
          <h1 class="card-title">“Photography for me is not looking, it’s feeling. If you can’t feel what you’re looking
            at, then you’re never going to get others to feel anything when they look at your pictures.”</h1>
          <div class="card-creator">by <a href="">Don McCullin</a></div>
        </div>
      </div>
    </div>
  </section><!-- Featured Products -->

  <!-- Meet the Team -->
  <section class="team" id="team">
    <div class="container-fluid wrapper pt-5">
      <h2 class="team__heading" data-scroll-reveal>Meet the Team</h2>
      <span class="team__subheading" data-scroll-reveal>People who make the magic happen</span>
      <div class="team__person-group">
        <div class="row justify-content-around">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="team__person" data-scroll-reveal>
              <img class="team__image" src="assets/images/mammas.jpg">
              <span class="team__name">Canon</span>
              <span class="team__position">80D</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="team__person" data-scroll-reveal>
              <img class="team__image" src="assets/images/me.jpg">
              <span class="team__name">Me</span>
              <span class="team__position">Anjali</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="team__person" data-scroll-reveal>
              <img class="team__image" src="assets/images/mammasand.jpg">
              <span class="team__name">Flash Light</span>
              <span class="team__position">Profoto-A1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Meet the Team -->


  <!-- CARDS NEW -->
  <div class="container pt-5">
    <div class="blog-card">
      <div class="meta">
        <div class="photo"
          style="background-image: url(file:///C:/Users/JATEEN%20SUNDER/Desktop/jainson/New%20project%203/New%20project%203/assets/images/44431525_1055771314625147_1423912632579892142_n.jpg)">
        </div>
        <ul class="details">
          <li class="author"><a href="#">MomsOnSkates</a></li>
          <li class="date">Aug. 24, 2018</li>
          <li class="tags">
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Photography</h1>
        <h2>Mom Blogger</h2>
        <p> Great Client Love his Son.</p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo"
          style="background-image: url(file:///C:/Users/JATEEN%20SUNDER/Desktop/jainson/New%20project%203/New%20project%203/assets/images/44431525_1055771314625147_1423912632579892142_n.jpg)">
        </div>
        <ul class="details">
          <li class="author"><a href="#">Amreen</a></li>
          <li class="date">July. 15, 2018</li>
          <li class="tags">
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Photography</h1>
        <h2>Child Blogger</h2>
        <p>Very cute Client.</p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
  <!-- CARDS NEW END -->

  <!-- #Social Showcase -->
  <section class="showcase" id="showcase">
    <div class="container-fluid wrapper">
      <h2 class="showcase__heading" data-scroll-reveal>#hellofriendschaipeelo</h2>
      <span class="showcase__subheading" data-scroll-reveal>One of our sweetest baby client Amreen Malhotra.</span>
      <div class="showcase__item-group" data-scroll-reveal>
        <div class="row">
          <div class="col-6 col-md-3">
            <a class="showcase__item" href="javascript:void(0);">
              <img class="showcase__image" src="assets/images/44502847_147117386250196_1088976754187580142_n.jpg">
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a class="showcase__item" href="javascript:void(0);">
              <img class="showcase__image" src="assets/images/53082649_518196038708355_7953203973969711349_n.jpg">
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a class="showcase__item" href="javascript:void(0);">
              <img class="showcase__image" src="assets/images/52905191_139376707103107_5472166470907948874_n.jpg">
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a class="showcase__item" href="javascript:void(0);">
              <img class="showcase__image" src="assets/images/44722005_371426563666189_5754121586507599113_n.jpg">
            </a>
          </div>
        </div>
        <span class="showcase__follow" data-scroll-reveal>Follow <a href="index.html">mamasandcrawlers</a> on
          Instagram</span>
      </div>
    </div>
  </section><!-- #Social Showcase -->
  </main><!-- Main Content -->

  <body>



    <!-- Footer -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-cta pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-map-marker-alt"></i>
                <div class="cta-text">
                  <h4>Find us</h4>
                  <span>DLF Phase 1, Gurgaon, Haryana</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                  <h4>Call us</h4>
                  <span>98765432100</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                  <h4>Mail us</h4>
                  <span>mammasandcrawlers@info.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                </div>
                <div class="footer-text">
                  <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut
                    consec tetur adipisicing
                    elit,Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="footer-social-icon">
                  <span>Follow us</span>
                  <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Useful Links</h3>
                </div>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Photos</a></li>
                  <li><a href="#">services</a></li>
                  <li><a href="form-1.html">Contact us</a></li>
                  <li><a href="bookingform-1.html">Booking</a></li>
                  <li><a href="testimonial-1.html">Testimonial</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Subscribe</h3>
                </div>
                <div class="footer-text mb-25">
                  <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Email Address">
                    <button><i class="fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
              <div class="copyright-text">
                <p>Copyright &copy; 2018, All Right Reserved <a href="#">TBIR</a></p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Policy</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div><!-- Site Wrapper -->




  </body>
  <script src="assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/swiper.js" type="text/javascript"></script>
  <script>
    /*---------------------------------------*\
ScrollMagic scroll interactions library
\*---------------------------------------*/

    var controller = new ScrollMagic.Controller();
    var headerHeight = $(".header").height();

    // anchor link scrolling
    controller.scrollTo(function (pos) {
      TweenMax.to(window, 1, { scrollTo: { y: pos }, ease: Power2.easeOut });
    });

    $(document).on("click", "a[href^='#']", function (e) {
      var target = $(this).attr("href");
      var scrollToPosition = $(target).offset().top - headerHeight;

      if ($(target).length > 0) {
        e.preventDefault();
        controller.scrollTo(scrollToPosition);
      }
    });



    /*-------------------------------------*\
      ScrollReveal scroll animations plugin
    \*-------------------------------------*/

    window.sr = ScrollReveal();
    sr.reveal("[data-scroll-reveal]", {
      distance: "20vh",
      opacity: 1,
      scale: 1,
      easing: "ease-out",
      reset: true,
      viewOffset: { top: -1000, right: 0, bottom: 0, left: 0 },
    });



    /*------------------------------------*\
      Subscribe Form
    \*------------------------------------*/

    $(document).ready(function () {
      $(".js-clear-input").each(function () {
        var input = $(this);
        var defaultValue = input.val();

        // reset input box on focus
        input.focus(function () {
          if (input.val() == defaultValue) {
            input.val("");
          }
          // restore default input value
        }).blur(function () {
          if (input.val().length == 0) {
            input.val(defaultValue);
          }
        });
      });
    });

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function validateEmailForm() {
      var email = $("#email").val();

      if (!validateEmail(email)) {
        alert("Invalid email address");
      }

      return false;
    }

    $(".js-validate-email").bind("click", validateEmailForm);



    /*------------------------------------*\
      Menu navigation
    \*------------------------------------*/

    function toggleNav() {
      $("body").toggleClass("nav-active");
      $(".hamburger").toggleClass("is-active");
      if ($("body").hasClass("nav-active")) {
        TweenMax.staggerFromTo($(".nav--menu__link"), .3,
          { x: -50, autoAlpha: 0 },
          { x: 0, autoAlpha: 1 },
          .1
        );
      }
    }

    function attachToggleNav() {
      $(".js-toggle-nav").click(function () {
        toggleNav();
      });
    }

    function hideNav() {
      $("body").removeClass("nav-active");
      $(".hamburger").removeClass("is-active");
    }

    function attachHideNav() {
      $(".js-nav").click(function () {
        hideNav();
      });
    }

    attachToggleNav();
    attachHideNav();



    /*------------------------------------*\
      Sticky header
    \*------------------------------------*/

    function hideStickyHeader() {
      $(".header").removeClass("header--sticky");
    }

    $(window).scroll(function () {
      var aboutOffsetTop = $(".about").offset().top - (headerHeight * 3);

      if ($(this).scrollTop() >= aboutOffsetTop && ($(window).outerWidth() >= 768)) {
        $(".header").addClass("header--sticky");
      } else {
        hideStickyHeader();
      }
    });

    $(window).resize(function () {
      if ($(window).outerWidth() < 768) {
        hideStickyHeader();
      }
    });



    /*------------------------------------*\
      Animated Counter
    \*------------------------------------*/

    var a = 0;

    $(window).scroll(function () {
      var counterOffsetTop = $("#counter").offset().top - window.innerHeight;

      if (a == 0 && $(window).scrollTop() > counterOffsetTop) {
        $(".js-animate-counter").each(function () {
          var $this = $(this);
          var countTo = $this.attr("data-count");

          $({
            countNum: 0
          }).animate({
            countNum: countTo
          },
            {
              duration: 2000,
              easing: "swing",
              step: function () {
                $this.text(Math.floor(this.countNum));
              },
              complete: function () {
                $this.text(this.countNum);
              }
            });
        });
        a = 1;
      }
    });
  </script>

  <script>
    var card = $(".ze-card");

    $(document).on("mousemove", function (e) {
      var ax = -($(window).innerWidth() / 2 - e.pageX) / 70;
      var ay = ($(window).innerHeight() / 2 - e.pageY) / 60;
      card.attr("style", "transform: rotateY(" + ax + "deg) rotateX(" + ay + "deg);-webkit-transform: rotateY(" + ax + "deg) rotateX(" + ay + "deg);-moz-transform: rotateY(" + ax + "deg) rotateX(" + ay + "deg)");
    });
  </script>

  <script>
    var num = 0;
    window.setInterval(function () {
      num++;
      var classes = ['', 'out', 'ready'];
      $('#watch').removeClass();
      $('#watch').addClass(classes[num % 3])
      $('#phone').removeClass();
      $('#phone').addClass(classes[(num + 2) % 3]);
      $('#laptop').removeClass();
      $('#laptop').addClass(classes[(num + 1) % 3]);
      $('.quote span').removeClass();
      $('.quote span:nth-child(' + (num % 3 + 1) + ')').addClass('highlight');
      console.log(num % 3 + 1);
    }, 900)


  </script>

  <script>
    //This simple script handles the header nav menu modal
    //also covered nav sub menu selection
    //Dependencies: jQuery
    $(document).ready(function () {

      $('.burger').click(function () {
        $('header').toggleClass('clicked');
      });

      $('nav ul li').click(function () {
        $('nav ul li').removeClass('selected');
        $('nav ul li').addClass('notselected');
        $(this).toggleClass('selected');
        $(this).removeClass('notselected');
      });

    });
  </script>

</html>