<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PRICING</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/fonts.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/swiper.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/dummy.scss" rel="stylesheet" type="text/css" />
</head>

<body>


  <!-- NAVBAR -->
  <section>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <header>
      <img class="timlogo" src="assets/images/try.png">
      <div class="nav-modal">
        <div class="blob"></div>
        <nav>
          <ul>


            <li><a href="index.html">HOME</a></li>
            <li><a href="photo-1.html">PHOTO</a></li>

            <li><a href="pricing1.html">PRICING</a></li>
            <li><a href="form-1.html">CONTACT US</a></li>
            <li><a href="bookingform-1.html">BOOKING FORM</a></li>
            <li><a href="testimonial-1.html">TESTIMONIAL</a></li>
          </ul>
        </nav>
      </div>
      <div class="head">
        <a href="#" class="tile socialmedia"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="tile socialmedia"><i class="fa fa-instagram"></i></a>
        <a href="#" class="tile socialmedia"><i class="fa fa-twitter-square"></i></a>
        <div class="tile burger">
          <div class="meat">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!-- banner -->
  <div class="top-banner"></div>
  <!-- END NAVBAR -->





  <!--pricing -->
  <div id="pricing-table" class="clear">
    <div class="plan">
      <h3>MATERNITY<span>15K</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>Indoor</b> Outdoor</li>
        <li><b>2</b> Setups</li>
        <li><b>Clothing</b> Props</li>
        <li><b>6 Minutes</b> Shoot Video</li>
        <li><b>Couple</b>Potrait</li>
        <li><b>Make</b>up</li>
      </ul>
    </div>
    <div class="plan" id="most-popular">
      <h3>NEW-BORN<span>15K</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>Indoor</b>Outdoor</li>
        <li><b>4</b> Setups</li>
        <li><b>Clothing</b> Props</li>
        <li><b>Family</b> Potrait</li>
        <li><b>6 Minute</b> Video</li>
        <li><b>Framed</b> Family Potrait</li>
      </ul>
    </div>
    <div class="plan">
      <h3>TODDLER<span>20K</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>Indoor</b> Outdoor</li>
        <li><b>4</b>Setups</li>
        <li><b>Clothing</b> props</li>
        <li><b>Family</b> Potrait</li>
        <li><b>5 Minutes</b> Shoot Video</li>
        <li><b>Cake</b> Smash</li>
        <li><b>Canvas</b> Frame</li>
      </ul>
    </div>
  </div>



  <!-- end -->
  <!-- <footer>
            <h3>Get In Touch</h3>
            <p>Email or call us to set up a consult</p>
            <p>Email:
              <strong>contact@acmephotos.test</strong>
            </p>
            <p>Phone:
              <strong>(617) 555-5555</strong>
            </p>
          </footer> -->





  <!-- Footer -->
  <footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>DLF Phase 1, Gurgaon, Haryana</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>98765432100</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="far fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>mammasandcrawlers@info.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec
                  tetur adipisicing
                  elit,Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">services</a></li>
                <li><a href="form-1.html">Contact us</a></li>
                <li><a href="bookingform-1.html">Booking</a></li>
                <li><a href="testimonial-1.html">Testimonial</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Subscribe</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Email Address">
                  <button><i class="fab fa-telegram-plane"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright &copy; 2018, All Right Reserved <a href="#">TBIR</a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div><!-- Site Wrapper -->




</body>
<script src="assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/swiper.js" type="text/javascript"></script>
<script>
  /*---------------------------------------*\
ScrollMagic scroll interactions library
\*---------------------------------------*/

  var controller = new ScrollMagic.Controller();
  var headerHeight = $(".header").height();

  // anchor link scrolling
  controller.scrollTo(function (pos) {
    TweenMax.to(window, 1, { scrollTo: { y: pos }, ease: Power2.easeOut });
  });

  $(document).on("click", "a[href^='#']", function (e) {
    var target = $(this).attr("href");
    var scrollToPosition = $(target).offset().top - headerHeight;

    if ($(target).length > 0) {
      e.preventDefault();
      controller.scrollTo(scrollToPosition);
    }
  });



  /*-------------------------------------*\
    ScrollReveal scroll animations plugin
  \*-------------------------------------*/

  window.sr = ScrollReveal();
  sr.reveal("[data-scroll-reveal]", {
    distance: "20vh",
    opacity: 1,
    scale: 1,
    easing: "ease-out",
    reset: true,
    viewOffset: { top: -1000, right: 0, bottom: 0, left: 0 },
  });



  /*------------------------------------*\
    Subscribe Form
  \*------------------------------------*/

  $(document).ready(function () {
    $(".js-clear-input").each(function () {
      var input = $(this);
      var defaultValue = input.val();

      // reset input box on focus
      input.focus(function () {
        if (input.val() == defaultValue) {
          input.val("");
        }
        // restore default input value
      }).blur(function () {
        if (input.val().length == 0) {
          input.val(defaultValue);
        }
      });
    });
  });

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function validateEmailForm() {
    var email = $("#email").val();

    if (!validateEmail(email)) {
      alert("Invalid email address");
    }

    return false;
  }

  $(".js-validate-email").bind("click", validateEmailForm);



  /*------------------------------------*\
    Menu navigation
  \*------------------------------------*/

  function toggleNav() {
    $("body").toggleClass("nav-active");
    $(".hamburger").toggleClass("is-active");
    if ($("body").hasClass("nav-active")) {
      TweenMax.staggerFromTo($(".nav--menu__link"), .3,
        { x: -50, autoAlpha: 0 },
        { x: 0, autoAlpha: 1 },
        .1
      );
    }
  }

  function attachToggleNav() {
    $(".js-toggle-nav").click(function () {
      toggleNav();
    });
  }

  function hideNav() {
    $("body").removeClass("nav-active");
    $(".hamburger").removeClass("is-active");
  }

  function attachHideNav() {
    $(".js-nav").click(function () {
      hideNav();
    });
  }

  attachToggleNav();
  attachHideNav();



  /*------------------------------------*\
    Sticky header
  \*------------------------------------*/

  function hideStickyHeader() {
    $(".header").removeClass("header--sticky");
  }

  $(window).scroll(function () {
    var aboutOffsetTop = $(".about").offset().top - (headerHeight * 3);

    if ($(this).scrollTop() >= aboutOffsetTop && ($(window).outerWidth() >= 768)) {
      $(".header").addClass("header--sticky");
    } else {
      hideStickyHeader();
    }
  });

  $(window).resize(function () {
    if ($(window).outerWidth() < 768) {
      hideStickyHeader();
    }
  });



  /*------------------------------------*\
    Animated Counter
  \*------------------------------------*/

  var a = 0;

  $(window).scroll(function () {
    var counterOffsetTop = $("#counter").offset().top - window.innerHeight;

    if (a == 0 && $(window).scrollTop() > counterOffsetTop) {
      $(".js-animate-counter").each(function () {
        var $this = $(this);
        var countTo = $this.attr("data-count");

        $({
          countNum: 0
        }).animate({
          countNum: countTo
        },
          {
            duration: 2000,
            easing: "swing",
            step: function () {
              $this.text(Math.floor(this.countNum));
            },
            complete: function () {
              $this.text(this.countNum);
            }
          });
      });
      a = 1;
    }
  });
</script>

<script>
  // Animate Smooth Scroll
  $('#view-work').on('click', function () {
    const images = $('#images').position().top;

    $('html, body').animate(
      {
        scrollTop: images
      },
      900
    );
  });

</script>
<script>
  //This simple script handles the header nav menu modal
  //also covered nav sub menu selection
  //Dependencies: jQuery
  $(document).ready(function () {

    $('.burger').click(function () {
      $('header').toggleClass('clicked');
    });

    $('nav ul li').click(function () {
      $('nav ul li').removeClass('selected');
      $('nav ul li').addClass('notselected');
      $(this).toggleClass('selected');
      $(this).removeClass('notselected');
    });

  });
</script>

</html>